$grid-width: 110rem;
$grid-gutter-vertical: 1rem;
$grid-gutter-horizontal: 3rem;
$grid-cols: 12;

.row {    
    max-width: $grid-width;
    margin: 0 auto;

    &:not(:last-child) {
        margin-bottom: $grid-gutter-vertical;
    }

    @include clear-fix;

    [class^="col-"] {
        float: left;
        &:not(:last-child){
            margin-right: $grid-gutter-horizontal;
        }
    }

    .col {
        $w: $grid-width;
        @for $i from 1 through $grid-cols {
            &-#{$i} {
                width: ($grid-width / $grid-cols * $i) - $grid-gutter-horizontal;
            }
        }
    }
}