$height: 56rem;

.rotating-box {
    height: $height;
    perspective: 150rem;
    position: relative;

    &__side {
        overflow: hidden;
        height: $height;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: .3rem;

        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &--front {
            background-color: $color-white;
        }
        &--back {
            transform: rotateY(180deg);

            &-orange {
                background-image: $gradient-yellow-orange-trb;
            }
            &-green {
                background-image: $gradient-green-blue-trb;
            }
            &-blue {
                background-image: $gradient-blue-blue-trb;
            }
        }
    }

    &__image {
        background-size: cover;
        height: 20rem;
        background-blend-mode: color;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

        &--1{
            background-image: $gradient-yellow-orange-trb, url("../images/season-pass-1.jpg");
        }
        &--2{
            background-image: $gradient-green-blue-trb, url("../images/season-pass-2.jpg");
        }
        &--3{
            background-image: $gradient-blue-blue-trb, url("../images/season-pass-3.jpg");
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $color-white;
        width: 100%;
        position: absolute;
        top: 14rem;
        left: -1rem;
        transform: rotate(-4deg);

    }

    &__heading-span {
        padding: 3rem 135em 0rem 2rem;
        white-space: nowrap;
        &--1{
            border-bottom: 2px solid $color-orange-primary;
            background-image: $gradient-yellow-orange-trb;
        }
        &--2{
            border-bottom: 2px solid $color-green-primary;
            background-image: $gradient-green-blue-trb;
        }
        &--3{
            border-bottom: 2px solid $color-blue-primary;
            background-image: $gradient-blue-blue-trb;
        }
    }

    &__details {
        margin-top: 2rem;
        padding: 2rem;
        ul {
            font-size: 1.7rem;
            list-style: none;
            width: 80%;
            margin: 0 auto;
            li {
                text-align: center;
                padding-bottom: 1rem;
                margin-bottom: 1rem;

                &:not(:last-child){
                    border-bottom: 1px solid rgba($color-grey-primary-light, .5);
                }
                &:last-child {
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }

        }        
    }

    &__cta {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__price-box {
        color: $color-white;
        text-align: center;

        a {
            margin-top: 8rem;
        }
    }
    &__price-only {
        font-size: 3.4rem;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }
    &__price-value {
        font-size: 4rem;
        font-weight: 300;
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }
    &:hover &__side--back {
        transform: rotateY(0);
    }
}