.logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;

    &__logo {
        height: 7rem;
    }
}

.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-orange-primary, .9),
        rgba($color-blue-primary, .3)),
        url("../images/resort.jpg");
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 10vh, 100% 0, 100% 100%, 0 100%);

    &__heading-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        backface-visibility: hidden;
        text-align: center;
    }
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 5em;

    &--main {
        font-size: 12rem;
        font-weight: 400;
        letter-spacing: 4rem;
        text-indent: 4rem;
        animation-name: heading-primary-main;
        animation-duration: 1s;
    }
    &--sub {
        font-size: 3rem;
        font-weight: 400;
        letter-spacing: 6.6rem;
        text-indent: 6.6rem;
        animation-name: heading-primary-sub;
        animation-duration: 1s;
        white-space: nowrap;
    }
}

.btn {
    &:link, 
    &:visited{
        font-size: 1.6rem;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1em 4em;
        font-weight: 600;
        display: inline-block;
        border-radius: 10em;
        transition: all .1s;
        position: relative;
    }
    &:hover {
        transform: translateY(-.5em);
        box-shadow: 0 .1em .8em rgba($color-black,0.2);

        &::after {
            transform: scaleX(1.2) scaleY(1.5);
            opacity: 0;
        }
    }
    &:active {
        transform: translateY(-.2em);
        box-shadow: 0 .1em .5em rgba($color-black,0.2);
    }
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 20rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .5s;
    }

    &--white {
        background-color: $color-white;
        color: $color-orange-primary;

        &::after {
            background-color: $color-white;
        }
    }

    &--find-button {
        animation: find-button 1s ease-out .8s;
        animation-fill-mode: backwards;
    }
}