// Color Pallet

$color-blue-primary: #004358;
$color-green-primary: #1f8a70;
$color-yellow-primary: #bedb39;
$color-yellow-secondary: #ffe11a;
$color-orange-primary: #fd7400;

$color-white: #fff;
$color-grey: #777;
$color-black: #000;